body{
    color: #ee871d;
    background-color: black!important;
}

body a:link {
    color: #a0191b;
}
      
body a:visited{
    color: #a0191b;
}
      
body a:hover{
    color: #a0191b;
}
      
body a:active{
    color: #a0191b;
}

h2{
    color: #a0191b;
}

header{
    color: white;
    padding: 5px;
    border-style: solid;
    border-color: black black #ee871d black;
}

footer{
    color: white;
    padding: 5px;
    border-style: solid;
    border-color: #ee871d black black black;
}

footer a:link {
    color: white;
}
      
footer a:visited{
    color: white;
}
      
footer a:hover{
    color: white;
}
      
footer a:active{
    color: white;
}

.cabecera-pie{
    background-color: black!important;
    color: a0191b;
}

div .modal-body{
    background-color: rgb(54, 54, 54)!important;
}

table{
    text-align: center;
    color:#ee871d!important;
}

hr{
    border-top: 1px solid #ee871d;
}

.nav-pills .nav-link.active{
    background-color: #a0191b!important;
}