body{
    color: #ee871d;
}

body a:link {
    color: #a0191b;
}
      
body a:visited{
    color: #a0191b;
}
      
body a:hover{
    color: #a0191b;
}
      
body a:active{
    color: #a0191b;
}

h2{
    color: #a0191b;
}

footer{
    color: white;
    padding: 5px;
}

footer a:link {
    color: white;
}
      
footer a:visited{
    color: white;
}
      
footer a:hover{
    color: white;
}
      
footer a:active{
    color: white;
}

.cabecera-pie{
    background-color: #d04920!important;
    color: white;
}