body{
    color: #780426;
}

body a:link {
    color: #780426;
}
      
body a:visited{
    color: #780426;
}
      
body a:hover{
    color: #780426;
}
      
body a:active{
    color: #780426;
}

footer{
    color: white;
    padding: 2px;
}

footer a:link {
    color: white;
}
      
footer a:visited{
    color: white;
}
      
footer a:hover{
    color: white;
}
      
footer a:active{
    color: white;
}

.cabecera-pie{
    background-color: #780426!important;
    color: white;
}